<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Студены из группы</title>
</head>
<body>
    <h1 th:text="'Группа ' + ${gr.name}"></h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Предметы</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="st : ${gr.students}">
                <td th:text="${st.id}"></td>
                <td th:text="${st.name}"></td>
                <td th:text="${st.age}"></td>
                <td th:text="${st.subjects}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>